################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wasp/Debug
/wasp/x64/Debug
/examples/m2ain.wasp
/x64/Debug
/.vs/wasp-lang/v16
/Debug
/wasp-lang
/x64/Release
