################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wasp/Debug
/wasp/x64/Debug
/examples/m2ain.wasp
/x64/Debug
/.vs/wasp-lang/v16
/Debug
/wasp-lang
/x64/Release
/AST/x64/Debug
/Lexer/x64/Debug
/Parser/x64/Debug
/Type_System/x64/Debug
/Utils/x64/Debug
/Token/x64/Debug
/Environment/x64/Debug
/ObjectSystem/x64/Debug
/SymbolTable/x64/Debug
/SemanticAnalyzer/x64/Debug
/MemorySystem/x64/Debug
/Interpreter/x64/Debug
/Bytecode/x64/Debug
/Compiler/x64/Debug
/VM/x64/Debug
/ControlFlowGraph/x64/Debug
